<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="l1"
          class="lesson1.lesson1">
    </bean>

    <bean id="l1b"
          class="lesson1.lesson1b">
        <constructor-arg ref="l1"/>
    </bean>

    <bean id="l1b0"
          class="lesson1.lesson1b">
        <property name="l1" ref="l1"/>
    </bean>
</beans>